body{


    background-color: rgb(65, 65, 65);
}

#head{

    background-color: black;
    height: 150px;
}

#head h2,
#head h3{

    margin: 0 10%;
}

#sadrzaj{

    background-color: grey;
}

h2{

    color: white;
}

h3{

    color: grey;
}

#red-slika{

    margin-top: 30px;
}