body{

    margin: 0;
    padding: 0;
}

header{

    height: 550px;
    background-image: url(images/slider/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#song, nav, #reg{

    position: absolute;
}

img{

    top: 40px;
    background-color: rgb(16, 137, 185);
}

a{
    text-decoration: none;
}

nav{

    top: 40px;
    background-color: rgb(16, 137, 185);
    right: 0;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#ikone{

    display: flex;
    flex-direction: row;
    background-color: aquamarine;

    position: absolute;
    top: 0;
    right: 0;
}

nav div a{

    color: white;
}

nav div{

    padding: 20px;
    transition: background-color .5s;
}

nav div:hover{
    
    color: rgb(16, 137, 185);
    background-color: white;
}


#reg{


    bottom: 20px;
    background-color: black;
    opacity: 0.7;
    padding: 10px 10px 10px 50px;
}

section{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#txt{

    background-image: url(images/about-bg.jpg);
    text-align: left;
    color: white;
}


iframe{

    display: flex;
    width: 100%;
    height: 250px;
}

footer{

    display: flex;
    flex-direction: column;
    background-image: url(images/performar-bg.jpg);
}

footer h3{

    margin-left: 10%;
}

.event{

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    text-align: center;
    width: 80%;
    margin: 10px 10%;
}

.event div{

    width: 25%;
}

.event div img{

    width: 90%;
}
