

#logo{

    height: 30%;
    margin: 50px;
}

header,
footer{

    margin: 0px 10%;

}

nav{

    left: 0;
    position: fixed;
    top: 200px;
    width: 12%;
    padding: 10px;
    margin-left:.5% ;
    background-color: black;

}

nav a{

    padding: 20px;
    margin: 20px 0;
    margin-top: 8px;
    text-decoration: none;
    color: #FF1801;
    font-family: Formula1-Bold;
    font-size: 16px;
}

nav ul{

    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

body{

    font-family: Formula1-Regular;
    color: white;
    background-color: rgb(35, 35, 35);
}

header{

    width: 80%;
    margin-top: 0;
    height: 150px;
    background-color: black;
    color: white;
    top: 0;
}

header h1{

    position: absolute;
    right: 20px;
    top: 5px;
    margin-top: 50px;  
    margin-right: 12%;
}


footer{

    position: relative;
    bottom: 0;
    margin-top: 5%;
    text-align: center;
    padding-bottom: 20px;
}

aside,
section{

    position: relative;
    margin: 0px 15%;
}

aside{

    width: 60%;
    right: 0;
    margin-top: 30px;

}

aside p{
    width: 40%;
}

aside img{

    width: 40%;
    position: absolute;
    right: 20px;
    top: 15%;
}

section{
    margin-top: 20px;
}

aside h2,
aside p,
section h3,
section p,
section h2{

    padding: 20px;
    
}

#fia{

    border-top: 10px solid #FF1801;
    border-right: 10px solid #FF1801; 
    border-top-right-radius: 40px;
}

#about-f1{

    margin-bottom: 50px;
    border-left: 1px solid #f9f9f9;
    border-bottom-left-radius: 20px;
}